html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* 主程式 */

.wrap {
    width: 1024px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 380px;
    background: url(https://i.imgur.com/gcjQ51k.png);
    background-size: cover;
}

.header h1 {
    font-size: 50px;
    font-weight: bolder;
    color: white;
    margin-top: 50px;
    margin-bottom: 100px;
    letter-spacing: 5px;
}

.header .select {
    width: 450px;
    height: 50px;
    font-size: 20px;
    letter-spacing: 3px;
    color: #000000;
    line-height: 21px;
    background: rgba(255, 255, 255, 0.70);
    border: 3px solid #FFFFFF;
    border-radius: 3px;
    padding-left: 10px;
}

.Popularselect {
    width: 800px;
    height: 112px;
    background: #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.20);
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
    top: -40px;
}

.Popularselect h2 {
    font-size: 18px;
    color: #000000;
    padding: 20px;
}

.Popularselect .Popularbtn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Popularselect .Popularbtn li {
    width: 130px;
    height: 42px;
    background: gray;
    border-radius: 5px;
    text-align: center;
    line-height: 42px;
}

.Popularselect .Popularbtn li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
}

.Divider {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-top: 50px;
    width: 100%;
    border-top: 3px dotted #559AC8;
}

.Divider .optionvalue {
    font-size: 36px;
    color: #8A82CC;
}

.main {
    position: relative;
}

.backtotop {
    position: fixed;
    right: 25%;
    bottom: 100px;
}

.main .list li {
    float: left;
    width: 48%;
    height: 320px;
    margin: 1%;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
}

.main .list .Inf {
    display: flex;
    flex-direction: column;
}

.main .list span {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.main .list span img {
    margin-top: 5px;
    padding: 5px 10px;
}

.footer {
    width: 100%;
    height: 90px;
    background: #559AC8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer h5 {
    font-size: 14px;
    color: white;
    margin: 10px;
}

.footer a {
    font-size: 14px;
    color: #FFD366;
    margin: 10px;
    text-decoration: none;
}